@import url('//db.onlinewebfonts.com/c/51ba22ae06790efd464bde752a2cd9d1?family=Flexo');

body {
  margin: 0;
  font-family: 'Flexo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
